<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.derfl007.jokinghazard">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JokingHazard">
        <activity android:name=".activities.SpielmodiAuswahl"></activity>
        <activity
            android:name=".activities.JoinGameEnterName"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.WaitingRoom"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.CreateGame"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.JoinGame"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>